<template name="Constructors">
    {{#ionView title="Constructors"}}
        {{#ionNavButtons side="left"}}
            <button class="button button-clear pull-left" menu-toggle="left">
                <i class="icon ion-navicon"></i>
            </button>
        {{/ionNavButtons}}

        {{#ionContent padding=false}}
            {{#ionList canSwipe=true}}
                {{#ionItem class="item-thumbnail-left"}}
                    <img src="/ferrari-logo.svg" width="32"/>
                    <h2>Scuderia Ferrari</h2>

                    {{#ionOptionButton class="button-info"}}
                        Drivers
                    {{/ionOptionButton}}
                    {{#ionOptionButton class="button-assertive"}}
                        About
                    {{/ionOptionButton}}
                {{/ionItem}}

                {{#ionItem class="item-thumbnail-left"}}
                    <img src="/mercedes-benz-logo.jpg" width="32"/>
                    Mercedes AMG Petronas

                    {{#ionOptionButton class="button-info"}}
                        Drivers
                    {{/ionOptionButton}}
                    {{#ionOptionButton class="button-assertive"}}
                        About
                    {{/ionOptionButton}}
                {{/ionItem}}

                {{#ionItem class="item-thumbnail-left"}}
                    <img src="/williams-logo.svg" width="32"/>
                    Williams F1

                    {{#ionOptionButton class="button-info"}}
                        Drivers
                    {{/ionOptionButton}}
                    {{#ionOptionButton class="button-assertive"}}
                        About
                    {{/ionOptionButton}}
                {{/ionItem}}

                {{#ionItem class="item-thumbnail-left"}}
                    <img src="/redbull-logo.png" width="32"/>
                    Redbull

                    {{#ionOptionButton class="button-info"}}
                        Drivers
                    {{/ionOptionButton}}
                    {{#ionOptionButton class="button-assertive"}}
                        About
                    {{/ionOptionButton}}
                {{/ionItem}}

                {{#ionItem class="item-thumbnail-left"}}
                    <img src="/redbull-logo.png" width="32"/>
                    Toro Rosso

                    {{#ionOptionButton class="button-info"}}
                        Drivers
                    {{/ionOptionButton}}
                    {{#ionOptionButton class="button-assertive"}}
                        About
                    {{/ionOptionButton}}
                {{/ionItem}}

                {{#ionItem class="item-thumbnail-left"}}
                    <img src="/force-india-logo.jpg" width="32"/>
                    Force India

                    {{#ionOptionButton class="button-info"}}
                        Drivers
                    {{/ionOptionButton}}
                    {{#ionOptionButton class="button-assertive"}}
                        About
                    {{/ionOptionButton}}
                {{/ionItem}}

                {{#ionItem class="item-thumbnail-left"}}
                    <img src="/mclaren-logo.jpg" width="32"/>
                    Mclaren

                    {{#ionOptionButton class="button-info"}}
                        Drivers
                    {{/ionOptionButton}}
                    {{#ionOptionButton class="button-assertive"}}
                        About
                    {{/ionOptionButton}}
                {{/ionItem}}

                {{#ionItem class="item-thumbnail-left"}}
                    <img src="/renault-logo.jpg" width="32"/>
                    Renault

                    {{#ionOptionButton class="button-info"}}
                        Drivers
                    {{/ionOptionButton}}
                    {{#ionOptionButton class="button-assertive"}}
                        About
                    {{/ionOptionButton}}
                {{/ionItem}}

                {{#ionItem class="item-thumbnail-left"}}
                    <img src="/sauber-logo.png" width="32"/>
                    Sauber

                    {{#ionOptionButton class="button-info"}}
                        Drivers
                    {{/ionOptionButton}}
                    {{#ionOptionButton class="button-assertive"}}
                        About
                    {{/ionOptionButton}}
                {{/ionItem}}

                {{#ionItem class="item-thumbnail-left"}}
                    <img src="/haas-logo.svg" width="32"/>
                    HAAS

                    {{#ionOptionButton class="button-info"}}
                        Drivers
                    {{/ionOptionButton}}
                    {{#ionOptionButton class="button-assertive"}}
                        About
                    {{/ionOptionButton}}
                {{/ionItem}}

                {{#ionItem class="item-thumbnail-left"}}
                    <img src="/manor-logo.jpg" width="32"/>
                    Manor

                    {{#ionOptionButton class="button-info"}}
                        Drivers
                    {{/ionOptionButton}}
                    {{#ionOptionButton class="button-assertive"}}
                        About
                    {{/ionOptionButton}}
                {{/ionItem}}
            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
</template>